
.upperPageSingle{
    width: 100vw;
    height: 35vh;
    background-color: ghostwhite;
    display: flex;
}
.accountInfo {
    width: 25vw;
    height: 100%;
    padding: 3rem;
}
.accountActions {
    width: 75vw;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    margin-top: 3%;
}

.actionSection {
    width: 100%;
    height: 30%;
    /* float: right;
    position: relative;
    bottom: 50%;
    right: 20%; */
    display: flex;
    justify-content: space-evenly;
}

.transferPop input{
 width: 100%;
}
.transferPop button{
  float: right;
  margin-top: 5%;
}